tools/osx/j2objc/j2objc

tools/osx/j2objc/lastlogmessage

tools/osx/j2objc/tmp.out

tools/osx/j2objc/filelist.j

tools/osx/j2objc/config.make

tools/osx/sharpen/lastlogmessage

tools/osx/sharpen/config.make

tools/osx/sharpen/sharpen-options

tools/osx/sharpen/tmp.out



adaptive-arp-api-java/out
*.iws
adaptive-arp-api-java/adaptive-arp-api-java.ipr
adaptive-arp-api-java/adaptive-arp-api-java.iws
.idea/.name
.idea/adaptive-arp-api.iml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/compiler.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/misc.xml

.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
/build

adaptive-arp-api-java/arp-api-specs/build/
adaptive-arp-api-java/build/

adaptive-arp-api-csharp/packages/
adaptive-arp-api-csharp/Adaptive.Arp.Api/obj
adaptive-arp-api-csharp/Adaptive.Arp.Api/bin
adaptive-arp-api-csharp/Adaptive.Arp.Api/Adaptive.Arp.Api.csproj.user
adaptive-arp-api-csharp/adaptive-arp-api-csharp.v12.suo
*.nupkg

adaptive-arp-api-objc/adaptive-arp-api-objc.xcodeproj/project.xcworkspace/xcuserdata/
adaptive-arp-api-objc/adaptive-arp-api-objc.xcodeproj/xcuserdata/
adaptive-arp-api-swift/adaptive-arp-api-swift.xcodeproj/xcuserdata/
adaptive-arp-api-swift/adaptive-arp-api-swift.xcodeproj/project.xcworkspace/xcuserdata/
tools/osx/j2any/j2swift/build/
tools/osx/j2any/j2swift/out/artifacts/

adaptive-arp-api-swift/.idea/workspace.xml
adaptive-arp-api-swift/Build

tools/java/APIStatus/build/
adaptive-arp-api-java/adaptive-arp-api-java.iws

tools/osx/j2any/j2swift/.idea/libraries/
tools/osx/j2any/j2swift/out/

tools/osx/j2any/j2swift/.idea/workspace.xml

adaptive-arp-api-swift/DerivedData/

adaptive-arp-api-js/.idea/
tools/osx/jenerator/build/


out/SwiftValidation/DerivedData/
out/SwiftValidation/SwiftValidation.xcodeproj/project.xcworkspace/xcuserdata/clozano.xcuserdatad/
out/SwiftValidation/SwiftValidation.xcodeproj/xcuserdata/clozano.xcuserdatad/
out/ObjCValidation/DerivedData/
out/ObjCValidation/ObjCValidation.xcodeproj/project.xcworkspace/xcuserdata/clozano.xcuserdatad/
out/ObjCValidation/ObjCValidation.xcodeproj/xcuserdata/clozano.xcuserdatad/
out/JavaValidation/build/

out/CSharpValidation/CSharpValidation/bin/
out/CSharpValidation/CSharpValidation/obj/
out/CSharpValidation/CSharpValidation/obj/Debug/

adaptive-arp-api-specs/out/

tools/osx/jenerator/.idea/workspace.xml

tools/osx/jenerator/.idea/workspace.xml

adaptive-arp-api-specs/.idea/

adaptive-arp-api-java/arp-api-java/build/
tools/osx/jenerator/out/

adaptive-arp-api-specs/build/

out/

*.ipr

*.iml
