<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>adaptive-api-osx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>adaptive-api-osxTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>adaptive-arp-api-objc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>adaptive-arp-api-objcTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>libadaptive-api-ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>libadaptive-api-iosTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>33A964C20DC4FECA1AAC5454</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33A9675158FE426E1018782F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E7F20A119ACFA8D00378DCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E7F20A519ACFB0000378DCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E7F20E519AD03C400378DCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E7F20EF19AD03C400378DCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4ECC88BC19AD1D8B0084AA56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4ECC88C619AD1D8B0084AA56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
